<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de loja</title>
<link rel="stylesheet" href="/css/formLoja.css">
<link rel="script" href="/consulta.js" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body>

	<div class="form-container">


			<form action="salvarLoja" method="post" enctype="multipart/form-data" accept-charset="UTF-8">

				
					<h2>Formulário</h2>
		<div class="row">
			<input type="hidden" name="id" > 
		
					 <input type="text" id="nome" name="nomeLoja"
						required placeholder="Nome"> <br>
						
						<label class="tipo">Tipo de Loja:</label> 
					<select name="tipoLoja.id">
						<option th:each="t: ${tipos}" th:value="${t.id}" th:text="${t.nome}">
						</option>
					</select>
		</div>			
			
					
		<div class="row">
			<input type="text" id="cep" name="cep" required placeholder="Digite o CEP">
			
			<input type="text" id="logradouro" name="endereco" required placeholder="Rua" readonly="readonly">
		</div>				 
				
		<div class="row">
			<input type="text" name="bairro" id="bairro" required placeholder="Bairro" readonly="readonly">
			
			<input type="text" name="cidade" id="localidade" required placeholder="Cidade">
		</div>		
		
		<div class="row">
			<input type="text" name="numero" id="numero" required="required" placeholder="Número"> 
			
			<input type="text" name="estado" id="uf" required placeholder="Estado">
		</div>
		
		<div class="row">
			<input type="text" name="complemento" required="required" placeholder="Complemento"> 
			
			<input type="file" name="fileFotos" multiple accept="image/*">
		</div>
		
		<div class="row pagamento">
			
			<label>Dinheiro</label>
			<input type="checkbox" name="formasPagamento">
			
			<label for="formasPagamento">Crédito</label>
			<input type="checkbox" name="formasPagamento">
			
			<label for="formasPagamento">Débito</label>
			<input type="checkbox" name="formasPagamento">
			
			<label for="formasPagamento">PIX</label>
			<input type="checkbox" name="formasPagamento">
			
		</div>
		
		<div class="row">
		<textarea name="descricao" rows="10" cols="100" required="required" placeholder="Descreva a sua Loja:"></textarea>
		</div>
		
		<div class="row">
			<input type="text" name="site" required="required" placeholder="Site"> 
		
			<input type="text" name="telefone" required="required" placeholder="telefone"> 
		</div>
		
		<div class="row">
			<button type="submit" class="btn"><i class="material-icons right">save</i>Salvar</button>
		</div>
		

	</form>
	</div>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="jquery.mask.js"></script>
	<script src="/consulta.js"></script>
	
	
	<script>
	$(document).ready(function(){
		$('#cep').mask('00000-000');
	})
	</script>
	


</body>
</html>