@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.col .s12{
	width: 50%;
}



.btn{
	/*border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;*/
	
	
    background: #ff0043;
    border: none;
    position: relative;
    display: inline-block;
    padding: 0px 16px;
    color: aliceBlue;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s ease-out;
    letter-spacing: 2px;
    border-radius: 5px;
}

.btn:hover{
    background-color: #ff0043;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0043,
                0 0 20px #ff0043,
                0 0 40px #ff0043,
                0 0 60px #ff0043;
}



/*	classes de erro e sucesso, dá pra reutilizar	*/
.erro{
	font-size: 14px;
	padding: 5px 10px;
	margin-top: 4px;
	background: red;
	color: aliceBlue;	
	border-radius: 10px;
	text-align: center;
}

.sucesso{
	font-size: 14px;
	padding: 5px 10px;
	margin-top: 4px;
	background: #bafc03;
	border-radius: 10px;
	text-align: center;
}